<html>
    
<head>
 <title>LUTS Diagnosis</title>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <div class="topnav justify-content-center">
    <a class="navbar-brand" href="#">
     <img src="/images/logo1.png" alt="Logo" style="height:70px;">
   </a>
  </div>
  
    <div class="navbar fixed-bottom">
  <a class="active" href="#"><i class="fa fa-fw fa-flask"></i>
    <br> Test</a>
  <a href="#"><i class="fa fa-fw fa-folder"></i>
    <br> Results</a>
  <a href="#"><i class="fa fa-fw fa-info"></i> 
    <br>Info</a>
  <a href="#"><i class="fa fa-fw fa-user"></i> 
    <br>My Account</a>
</div>
    <div class="container"> 
